$dark-color: #123;
$light-color: #fed;

@mixin hover-zoom {
  transition: 200ms;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0);

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1em rgba(0, 0, 0, 1);
  }
}
